body {
    min-height:100vh;
    display:flex;
    flex-direction:column;
}
.main-content {
    flex-grow:1;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.product {
    display: flex;
    border-radius: 5px;
    padding: 1rem;
    background-color: rgb(149, 198, 247);
    width: 40%;
    float: left;
    margin-top: 2rem;
    margin-left: 30px;
}

.product img {
    width: 100px;
}