@keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .textAboutPage{
    padding-left: 40px;
    text-align: center;
    margin-top: 15vh;
    height: 400px;
    margin-bottom: 50px;
  }
  .textAboutPage > h1{
    margin: 40px;
  }
  .textAboutPage > p {
    padding: 0px 50px 0 70px; 
  }
  .pic-ctn {
    position: relative;
    width: 300px;
    height: 300px;
    margin-top: 15vh;  
  }
  
  .pic-ctn > img {
    position: absolute;
    top: 0;
    height: 500px;
    width: 600px;
    left: calc(30% - 100px);
    opacity: 0;
    animation: display 20s infinite;
    
  }
  
  img:nth-child(2) {
    animation-delay: 4s;
  }
  img:nth-child(3) {
    animation-delay: 8s;
  }
  img:nth-child(4) {
    animation-delay: 12s;
  }
  img:nth-child(5) {
    animation-delay: 16s;
  }
  
  footer{
    margin-top: 260px;
  }